<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>

    <li>
        <div>姓名：<%=data.userName%></div>
        <div>头像：<%=data.headPic%></div>
        <div>邮箱：<%=data.userEmail%></div>
        <div>手机号：<%=data.userPhone%></div>
        <div>性别：<%=data.sex%></div>
        <div>微信：<%=data.wechat%></div>
        <div>宠物照片：<%=data.lpPic%></div>
        <div>时间：<%=data.lpTime%></div>
        <div>地址：<%=data.address%></div>
    </li>
    <br/>

</ul>

</body>
</html>
