<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>
    <%for(var i = 0; i < data.length ; i++){%>
    <li>
        <div>标题：<%=data[i].lpTitle%></div>
        <div>宠物照片：<%=data[i].lpPic%></div>
        <div>丢失时间：<%=data[i].lpTime%></div>
        <div>丢失地址：<%=data[i].address%></div>
        <div>详情：<%=data[i].detail%></div>
        <div>联系人：<a href="/homeless/lostPets/lostDetails/<%=data[i].userId%>"><%=data[i].userName%></a></div>
        <div>联系人id：<a href=""><%=data[i].userId%></a></div>
        <div>联系电话：<%=data[i].userPhone%></div>
        <div>报酬：<%=data[i].reward%></div>
    </li>
    <br/>
    <%}%>
</ul>

</body>
</html>
